
.speech{
font-style: normal;
font-size: medium;
text-indent: 50px;
color: brown;
}
.song{
    font-family: 'Times New Roman', Times, serif;
font-style: italic;
font-size: medium;
text-indent: 150px;
color:darkblue

}
p.direction{
font-style: normal;
font-size: small;
background-color: antiquewhite;

}
p.name{
font-style: oblique;
font-size: medium;
}
a:hover p.direction{
  background-color: blueviolet;  
}
.BUT{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    color: darkgreen;
    
    
}
.CAPT{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: palevioletred;
    
    border-style: solid;

}
.JOS{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: aquamarine;
}
.HEBE{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: bisque;
}
.BOAT{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: blue;
}
.DICK{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: chartreuse;
}
.RALPH{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: coral;
    
}
.JOSEPH{
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    color: crimson;
}
.CHORUS{
    
    font-style: italic;
    color: darkgoldenrod;
    text-indent: 100px;
    font-family: 'Times New Roman', Times, serif;

}

.R{
    font-style: normal;
    color: bisque;
}
.h1{
    color: aqua;
}
.h5{
    color: blueviolet;
}
.h6{
    color: crimson;
}
.p{
    color: red;
}
.d{
    color: blue;
}
table, th, td {
    border: 1px solid; 
}
td{
    text-align: center;
}
th, td {
    padding: 10px;
    text-align: center;
}
tr{
    row-gap: 0.5px;
}
th {
    background-color: cornflowerblue;
    color: beige;
}
a:hover{
    color: yellow;
    text-shadow: 5px 5px 15px;
    background-color: yellow;
    
}
.speech:hover{
    color: yellow;
    text-shadow: 5px 5px 15px red;
    background-color:cyan;
    border-style: dashed;
}
.BOAT:hover{
    color: aliceblue;
    text-shadow: 5px 5px 15px yellow;
    background-color: crimson;
    border-style: dotted;
}
.BUT:hover{
    color: antiquewhite;
    text-shadow: 5px 5pz 15px white;
    background-color: blueviolet;
    border-style: double;
}
.CAPT:hover{
    color: aqua;
    text-shadow: 5px 5pz 15px blue;
    background-color: black;

}
.CHORUS:hover{
    border-style: groove;
    color: cadetblue steelblue;
    text-shadow: 5px 5pz 15px blue;
    background-color: aliceblue;
}
.song:hover{
    color: darkgoldenrod;
    text-shadow: 5px 5pz 15px blue;
    background-color: black;
    border-style: solid;
}
.DICK:hover{
    color: black;
    text-shadow: 5px 5pz 15px azure;
    background-color: aliceblue;
    border-style: unset;
  
}
.RALPH:hover{
color: chartreuse;
text-shadow: 5px 5pz 15px blue;
background-color: brown;
border-style: solid;
}
.JOS:hover{
    color: deeppink;
    text-shadow: 5px 5pz 15px blue;
    background-color: dimgray;
    border-style: dashed;
}